<!DOCTYPE html>
<html>
<head>
  <title>Catchphrase</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- underscore -->
  <script type="text/javascript" src="/underscore/underscore.js"></script>
  <!-- jquery -->
  <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <!-- boostrap js -->
  <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
  <!-- boostrap css -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
  <!-- boostrap css theme (optional) -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.css">
  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <h1>List of Words!</h1>

  <div class="wordsContainer"></div>


</body>
</html>